**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/.pytest_cache
**/*.db
**/.env
**/.env.*
!**/.env.example
.git
.agents
frontend/
storage/
node_modules/
**/node_modules/
dist/
**/dist/
.coverage
htmlcov/
